<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- icon -->
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
  <title>Nmap Dashboard</title>
  <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
</head>
<body>

  <header class="title">
    Nmap Dashboard
  </header>
  <div class="module-box">

    <div class="module" onclick="window.open('https\:\/\/www.w3schools.com', '_self');">
      <div class="title">192.168.8.2:8000</div>
      <div class="large-text">Paperless</div>
    </div>
  
    {% for module in modules %}
      <div class="module" onclick="window.open('http:\/\/{{ module.address }}', '_self');">
        <div class="title">{{ module.address }}</div>
        <div class="large-text">{{ module.host }}</div>
      </div>
    {% endfor %}

  </div>
</body>
</html>
