<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Scanner Duplex Control</title>
  <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
  <style>
    body {
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
    .title {
      text-align: center;
    }
    #state {
      margin-top: 20px;
      color: rgb(6, 175, 6);
    }
  </style>
</head>
<body>
  <h1 class="title">Paperless Scanner</h1>
  <button onclick="sendRequest(true)">Scan Duplex</button>
  <button onclick="sendRequest(false)">Scan Simplex</button>
  <div id="state"></div>

  <script>
    function updateButtons(enabled) {
      document.querySelectorAll("button").forEach(button => {
        button.disabled = !enabled; 
      });
      if (enabled) {
        document.getElementById("state").textContent = "Ready to scan.";
      } else {
        document.getElementById("state").textContent = "Scanning in progress...";
      }
    }
    updateButtons(true); 

    function sendRequest(duplex) {
      updateButtons(false);
      var url = duplex ? "scanner/duplex" : "scanner/simplex";
      fetch(url, {
        method: "POST"
      }).finally(() => {
        updateButtons(true);
      });
    }
  </script>
</body>
</html>
